<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Node Tutorial | <%= title %></title>

  <!-- href is relative to the public folder -->
  <link rel="stylesheet" href="/styles.css">
</head>